In [2]:
import pandas as pd
import statsmodels.api as sm

C:\Users\YihengYe\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
C:\Users\YihengYe\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:23: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  data_klasses = (pandas.Series, pandas.DataFrame, pandas.Panel)

In [3]:
wind=pd.read_csv('device_position.csv')
mac=pd.read_csv('mac_lat.csv')
temp=pd.read_csv('temp_hum.csv')

In [5]:
temp

                    mac   avg_temp    avg_hum  day  hour
0     3C:71:BF:62:E4:30  28.253846  50.992307    4    15
1     3C:71:BF:62:E4:30  28.923333  48.085000    4    16
2     3C:71:BF:62:E4:30  28.101695  48.418644    4    17
3     3C:71:BF:62:E4:30  26.716667  50.430000    4    18
4     3C:71:BF:62:E4:30  26.181667  51.035000    4    19
...                 ...        ...        ...  ...   ...
1742  CC:50:E3:B0:21:A4  30.950000  37.500000    7    19
1743  CC:50:E3:B0:21:A4  30.849999  38.900000    7    20
1744  CC:50:E3:B0:21:A4  30.900000  40.299999    7    21
1745  CC:50:E3:B0:21:A4  27.900000  47.580000    7    22
1746  CC:50:E3:B0:21:A4  26.975000  48.950001    7    23

[1747 rows x 5 columns]

In [6]:
newm=temp.merge(mac, on='mac')
newm

                    mac   avg_temp    avg_hum  day  hour  dev_lat  dev_long
0     3C:71:BF:62:E4:30  28.253846  50.992307    4    15  33.6962  -117.790
1     3C:71:BF:62:E4:30  28.923333  48.085000    4    16  33.6962  -117.790
2     3C:71:BF:62:E4:30  28.101695  48.418644    4    17  33.6962  -117.790
3     3C:71:BF:62:E4:30  26.716667  50.430000    4    18  33.6962  -117.790
4     3C:71:BF:62:E4:30  26.181667  51.035000    4    19  33.6962  -117.790
...                 ...        ...        ...  ...   ...      ...       ...
1742  CC:50:E3:B0:21:A4  30.950000  37.500000    7    19  33.7050  -117.738
1743  CC:50:E3:B0:21:A4  30.849999  38.900000    7    20  33.7050  -117.738
1744  CC:50:E3:B0:21:A4  30.900000  40.299999    7    21  33.7050  -117.738
1745  CC:50:E3:B0:21:A4  27.900000  47.580000    7    22  33.7050  -117.738
1746  CC:50:E3:B0:21:A4  26.975000  48.950001    7    23  33.7050  -117.738

[1747 rows x 7 columns]

In [7]:
wind

         lon    lat  avg_wind_speed         city  day  hour
0    -122.04  37.37        4.600000  Group 1 Bay    4    19
1    -122.04  37.37        4.600000  Group 1 Bay    4    20
2    -122.04  37.37        3.350000  Group 1 Bay    4    21
3    -122.04  37.37        2.061667  Group 1 Bay    4    22
4    -122.04  37.37        3.534000  Group 1 Bay    4    23
...      ...    ...             ...          ...  ...   ...
1208 -121.89  37.34        4.900000     San Jose    4    15
1209 -121.89  37.34        5.851667     San Jose    4    16
1210 -121.89  37.34        5.466667     San Jose    4    17
1211 -121.89  37.34        5.100000     San Jose    4    18
1212 -121.89  37.34        4.600000     San Jose    4    19

[1213 rows x 6 columns]

In [11]:
total=newm.merge(wind, left_on=['day', 'hour', 'dev_lat', 'dev_long'], right_on=['day', 'hour', 'lat', 'lon'])
total

,mac,avg_temp,avg_hum,day,hour,dev_lat,dev_long,lon,lat,avg_wind_speed,city
0,3C:71:BF:63:E6:30,24.080755,46.148302,7,18,37.7124,-122.421,-122.421,37.7124,15.40,Group 14 Bay
1,3C:71:BF:63:E6:30,23.985555,44.798518,7,19,37.7124,-122.421,-122.421,37.7124,15.90,Group 14 Bay
2,3C:71:BF:63:E6:30,25.060424,42.443816,7,20,37.7124,-122.421,-122.421,37.7124,12.90,Group 14 Bay
3,3C:71:BF:63:EE:0C,26.863333,35.966667,7,18,34.1542,-118.045,-118.045,34.1542,6.70,Group 16 LA
4,3C:71:BF:63:EE:0C,26.740000,35.893334,7,19,34.1542,-118.045,-118.045,34.1542,5.10,Group 16 LA
5,3C:71:BF:63:EE:0C,26.103333,39.790000,7,20,34.1542,-118.045,-118.045,34.1542,4.60,Group 16 LA
6,3C:71:BF:64:21:DC,27.256667,50.698333,7,18,33.7947,-118.397,-118.397,33.7947,11.30,Group 25 LA
7,3C:71:BF:64:21:DC,26.993333,51.280000,7,19,33.7947,-118.397,-118.397,33.7947,10.30,Group 25 LA
8,3C:71:BF:64:21:DC,27.361017,52.279661,7,20,33.7947,-118.397,-118.397,33.7947,7.70,Group 25 LA
9,3C:71:BF:64:36:C0,27.337288,50.284746,7,18,32.8472,-117.196,-117.196,32.8472,5.10,Group 2 San Diego
10,3C:71:BF:64:36:C0,26.228333,52.828333,7,19,32.8472,-117.196,-117.196,32.8472,6.20,Group 2 San Diego
11,3C:71:BF:64:36:C0,25.142373,54.425424,7,20,32.8472,-117.196,-117.196,32.8472,4.60,Group 2 San Diego
12,3C:71:BF:6C:62:2C,17.644000,50.880000,7,19,37.3969,-121.943,-121.943,37.3969,9.30,Group 2 Bay
13,3C:71:BF:6C:62:2C,17.108333,51.470000,7,20,37.3969,-121.943,-121.943,37.3969,9.80,Group 2 Bay
14,3C:71:BF:6C:A9:7C,25.906667,51.825000,7,18,32.8741,-117.218,-117.218,32.8741,5.10,Group 10 San Diego
15,3C:71:BF:6C:A9:7C,25.443333,53.193333,7,19,32.8741,-117.218,-117.218,32.8741,6.20,Group 10 San Diego
16,3C:71:BF:6C:A9:7C,24.923333,52.580000,7,20,32.8741,-117.218,-117.218,32.8741,4.60,Group 10 San Diego
17,3C:71:BF:6F:13:B8,26.272222,44.681481,7,18,37.3688,-122.036,-122.036,37.3688,8.70,Group 1 Bay
18,3C:71:BF:6F:13:B8,26.345614,45.105263,7,19,37.3688,-122.036,-122.036,37.3688,9.30,Group 1 Bay
19,3C:71:BF:6F:13:B8,26.299999,45.150000,7,20,37.3688,-122.036,-122.036,37.3688,9.80,Group 1 Bay
20,80:7D:3A:BA:E2:14,26.663333,63.546667,7,18,32.8657,-117.238,-117.238,32.8657,5.10,Group 3 San Diego
21,80:7D:3A:BA:E2:14,27.196667,67.230000,7,19,32.8657,-117.238,-117.238,32.8657,6.20,Group 3 San Diego
22,80:7D:3A:BA:E2:14,27.074577,68.525424,7,20,32.8657,-117.238,-117.238,32.8657,4.60,Group 3 San Diego
23,80:7D:3A:E9:67:5C,26.600000,51.299999,7,18,32.8711,-117.217,-117.217,32.8711,5.10,Group 11 San Diego
24,A4:CF:12:43:52:D0,29.466667,42.699999,7,18,37.7423,-122.259,-122.259,37.7423,10.80,Group 12 Bay
25,A4:CF:12:43:52:D0,28.800000,43.650000,7,19,37.7423,-122.259,-122.259,37.7423,8.70,Group 12 Bay
26,A4:CF:12:43:52:D0,27.428571,45.742857,7,20,37.7423,-122.259,-122.259,37.7423,8.70,Group 12 Bay
27,A4:CF:12:43:71:60,28.827632,37.717105,7,18,37.4918,-121.925,-121.925,37.4918,8.70,Group 18 Bay
28,A4:CF:12:43:71:60,28.691549,37.030986,7,19,37.4918,-121.925,-121.925,37.4918,9.30,Group 18 Bay
29,A4:CF:12:43:71:60,29.290476,39.397619,7,20,37.4918,-121.925,-121.925,37.4918,0.45,Group 18 Bay
30,CC:50:E3:A1:45:2C,34.092857,42.603571,7,18,32.8697,-117.223,-117.223,32.8697,5.10,Group 20 San Diego
31,CC:50:E3:A1:45:2C,34.325715,41.634286,7,19,32.8697,-117.223,-117.223,32.8697,6.20,Group 20 San Diego
32,CC:50:E3:A1:45:2C,34.313043,41.169565,7,20,32.8697,-117.223,-117.223,32.8697,4.60,Group 20 San Diego
33,CC:50:E3:A9:79:3C,23.766666,41.799999,7,18,32.8584,-117.233,-117.233,32.8584,5.10,Group 12 San Diego
34,CC:50:E3:A9:79:3C,22.334118,44.755294,7,19,32.8584,-117.233,-117.233,32.8584,6.20,Group 12 San Diego
35,CC:50:E3:A9:79:3C,22.621098,44.255491,7,20,32.8584,-117.233,-117.233,32.8584,4.60,Group 12 San Diego
36,CC:50:E3:AF:E1:B4,29.255000,47.166667,7,17,32.9269,-117.195,-117.195,32.9269,5.10,Group 1 San Diego
37,CC:50:E3:AF:E1:B4,29.096610,47.355932,7,18,32.9269,-117.195,-117.195,32.9269,5.10,Group 1 San Diego
38,CC:50:E3:AF:E1:B4,28.925000,47.486667,7,19,32.9269,-117.195,-117.195,32.9269,2.24,Group 1 San Diego
39,CC:50:E3:AF:E1:B4,29.428889,45.722222,7,20,32.9269,-117.195,-117.195,32.9269,4.60,Group 1 San Diego
40,CC:50:E3:AF:E3:80,22.385000,36.320000,7,18,37.3877,-122.007,-122.007,37.3877,8.70,Group 4 Bay
41,CC:50:E3:AF:E3:80,21.093333,37.655000,7,19,37.3877,-122.007,-122.007,37.3877,9.30,Group 4 Bay
42,CC:50:E3:AF:E3:80,19.415000,41.616667,7,20,37.3877,-122.007,-122.007,37.3877,9.80,Group 4 Bay
43,CC:50:E3:AF:E4:E0,25.755000,44.698334,7,18,33.8647,-118.267,-118.267,33.8647,9.80,Group 13 LA
44,CC:50:E3:AF:E4:E0,25.622034,46.415254,7,19,33.8647,-118.267,-118.267,33.8647,6.70,Group 13 LA
45,CC:50:E3:AF:E4:E0,25.248333,48.265000,7,20,33.8647,-118.267,-118.267,33.8647,4.60,Group 13 LA
46,CC:50:E3:B0:21:8C,26.096667,52.910000,7,18,32.8560,-117.212,-117.212,32.8560,5.10,Group 5 San Diego
47,CC:50:E3:B0:21:8C,25.883333,53.288334,7,19,32.8560,-117.212,-117.212,32.8560,6.20,Group 5 San Diego
48,CC:50:E3:B0:21:8C,25.678334,53.295000,7,20,32.8560,-117.212,-117.212,32.8560,4.60,Group 5 San Diego
49,CC:50:E3:B0:21:A4,31.382901,43.380829,7,18,33.7050,-117.738,-117.738,33.7050,5.10,Group 15 LA
50,CC:50:E3:B0:21:A4,30.950000,37.500000,7,19,33.7050,-117.738,-117.738,33.7050,4.10,Group 15 LA
51,CC:50:E3:B0:21:A4,30.849999,38.900000,7,20,33.7050,-117.738,-117.738,33.7050,1.79,Group 15 LA

In [14]:
X=total[['avg_temp', 'avg_hum']]
y=total[['avg_wind_speed']]

In [15]:
X=sm.add_constant(X)
model=sm.OLS(y, X)
result=model.fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:         avg_wind_speed   R-squared:                       0.169
Model:                            OLS   Adj. R-squared:                  0.135
Method:                 Least Squares   F-statistic:                     4.981
Date:                Tue, 09 Jun 2020   Prob (F-statistic):             0.0107
Time:                        19:09:19   Log-Likelihood:                -127.42
No. Observations:                  52   AIC:                             260.8
Df Residuals:                      49   BIC:                             266.7
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         19.6725      4.362      4.510      0.000      10.908      28.437
avg_temp      -0.3539      0.116     -3.050      0.004      -0.587      -0.121
avg_hum       -0.0713      0.056     -1.268      0.211      -0.184       0.042
==============================================================================
Omnibus:                        6.708   Durbin-Watson:                   0.993
Prob(Omnibus):                  0.035   Jarque-Bera (JB):                5.658
Skew:                           0.734   Prob(JB):                       0.0591
Kurtosis:                       3.674   Cond. No.                         589.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""